
{{!-- admin login --}}


<form action="action_page.php" method="post">
  <div class="img-container" style="padding-left: 45rem;">
    <img src="https://thumbs.dreamstime.com/b/admin-seal-print-corroded-texture-red-vector-rubber-text-unclean-title-placed-double-parallel-lines-scratched-122073406.jpg" alt="Avatar" class="avatar">
  </div>

  <div class="container">
      <h1>Admin</h1>
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" maxlength="20" name="uname" oninput="this.value=this.value.replace(/[^A-Za-z ]|^ /g,'')" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" maxlength="5" placeholder="Enter Password" name="psw" required>

    <button type="submit">Log-in</button>
    <label>
     
    </label>
  </div>

  
</form>