{{!-- navbar --}}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav" style="padding-left: 100rem;">
      <button>
          Log-out
      </button>
    </ul>
  </div>
</nav>

{{!-- Home page --}}

<section style="width: 100%; ">
<div class="jumbotron" style="padding-top: 10rem; text-align: center; background-color: whitesmoke; width: 100%; padding-left: 7rem; ">
  <h1 class="display-4">Shop-Now</h1>
  <hr class="my-4">
  <p>We have every products for Fashion items !!</p>
  
  <div class="card-group" style="height: 20rem;">
    <div class="card">
        <img src="https://assets.ajio.com/medias/sys_master/root/20210403/DHYH/60689ce4aeb269a9e3357699/-473Wx593H-461758480-multi-MODEL.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Shirts</h5>
            
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
    <div class="card">
        <img src="https://assets.ajio.com/medias/sys_master/root/20210403/DHYH/60689ce4aeb269a9e3357699/-473Wx593H-461758480-multi-MODEL.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">shirts</h5>
           
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
    <div class="card">
        <img src="https://assets.ajio.com/medias/sys_master/root/20210403/DHYH/60689ce4aeb269a9e3357699/-473Wx593H-461758480-multi-MODEL.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Shirts</h5>
          
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
</div>

<br>
<br>

  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Show more</a>
  </p>
</div>

</section>