
<form action="action_page.php" method="post">
  <div class="img-container" style="padding-left: 40rem;">
    <img src="https://ck12live.s3.ap-south-1.amazonaws.com/user/5f688627ac992228651c21b1/classroom/original/1607234971537-login.png" alt="Avatar" class="avatar">
  </div>

 {{!-- user login page --}}
 
  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" maxlength="20" name="uname" required oninput="this.value=this.value.replace(/[^A-Za-z ]|^ /g,'')" >

    <label for="psw"><b>Password</b></label>
    <input type="password" maxlength="5" placeholder="Enter Password" name="psw" required>

    <button type="submit">Login</button>
    <label>
     
    </label>
  </div>

</form>
<div class="footer">
     <p>Create a new account? <button class="sign-up-btn"> Sign-up </button> </p>
  </div>